VITE_SUPABASE_URL=https://hzsxlpzsknysjdpodpgg.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_xNazlHkI4DFI175UfCRt5Q_-EXtNKkL
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6c3hscHpza255c2pkcG9kcGdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzE3MTUwNSwiZXhwIjoyMDg4NzQ3NTA1fQ.JL9O7BIVDny_aF22U3UJk75pbY7aCjN5h4C2JJHqsFw
TEST_USERS_DEFAULT_PASSWORD=ColorMemory123!
